Source/ThinkWiseMan/ThinkWiseMan/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="WiseIdeaModel" type="tns:WiseIdeaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WiseIdeaModel">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WiseIdeaModelItem" type="tns:WiseIdeaModelItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WiseIdeaModelItem">
    <xs:attribute name="Content" type="xs:string" />
    <xs:attribute name="Author" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateText" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Day" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="Month" type="xs:double" />
    <xs:attribute name="IsFavorite" type="xs:boolean" />
    <xs:attribute name="Selected" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,3" name="Id" type="xs:string" />
  </xs:complexType>
</xs:schema>